/* ------------------------------------ */
/*					Fonts           	*/
/* ------------------------------------ */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
}

/*
Flexbox
 */
.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.flexrow > * {
    flex: 1;
}
.flexrow .flex1 {
    flex: 1;
}
.flexrow .flex2 {
    flex: 2;
}
.flexrow .flex3 {
    flex: 3;
}
.flexrow .flex4 {
    flex: 4;
}
.flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
.flexcol > * {
    flex: 1;
}
.flexcol .flex1 {
    flex: 1;
}
.flexcol .flex2 {
    flex: 2;
}
.flexcol .flex3 {
    flex: 3;
}
.flexcol .flex4 {
    flex: 4;
}

/*
    DND Syle
 */

.dnd5e .window-content {
    background: url("ui/ui_parchment.jpg") repeat;
    font-size: 13px;
    color: #191813;
}

.dnd5e input[type='text'],
.dnd5e input[type='number'],
.dnd5e select {
    height: calc(100% - 2px);
    border: 1px solid #7a7971;
    background: rgba(0,0,0,0.05);
    color: #191813;
}

.dnd5e input[type='text']:hover,
.dnd5e input[type='number']:hover,
.dnd5e input[type='text']:focus,
.dnd5e input[type='number']:focus {
    border: 1px solid #111;
    box-shadow: 0 0 8px red;
}

.dnd5e input:disabled,
.dnd5e select:disabled,
.dnd5e textarea:disabled {
    color: #4b4a44;
}